@import '~antd/lib/style/themes/default.less';

.standardTable {
  :global {
    .ant-table-bordered .ant-table-thead{
      tr {
        border-color: #cccccc;
        th {
          border-color: #cccccc;
          border-top: 1px solid #cccccc;
          border-left: 1px solid #cccccc;
        }
      }
    }
    .ant-table-tbody{
      tr {
        border-color: #cccccc;
        td {
          border-left: 1px solid #cccccc;
          border-color: #cccccc;
        }
      }
    }
    .ant-table-pagination {
      margin-top: 24px;
    }
  }

  .tableAlert {
    margin-bottom: 16px;
  }
}
